# ======================================================
# PYTHON
# ======================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/

# ======================================================
# ENVIRONMENT VARIABLES
# ======================================================

.env
backend/.env

# ======================================================
# PYTHON CACHE
# ======================================================

.pytest_cache/
.mypy_cache/

# ======================================================
# DATABASE
# ======================================================


# ======================================================
# FRONTEND
# ======================================================

frontend/node_modules/
frontend/dist/
node_modules/

# ======================================================
# DATASETS
# ======================================================

data/
*.csv

# ======================================================
# NOTEBOOKS & OUTPUTS
# ======================================================

notebooks/
plots/
reports/
predictions/

# ======================================================
# MODELS (DO NOT PUSH TO GITHUB)
# ======================================================

backend/models/
models/
dl_models/

# Hugging Face local clone
climate-models/

# ======================================================
# IDE
# ======================================================

.vscode/
.idea/

# ======================================================
# OPERATING SYSTEM
# ======================================================

.DS_Store
Thumbs.db
desktop.ini

# ======================================================
# LOG FILES
# ======================================================

*.log